<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}">
    <title>Sobre</title>
</head>
<body>
    <h1 class="titulo">Sobre o projeto</h1>
    <section class="sobre">
        <p>Esta aplicação foi desenvolvida como um trabalho da disciplina Tópicos Especiais em Informática, do curso de Análise e Desenvolvimento de Sistemas.</p>
        <h3>Autores:</h3>
        <p>Caio Farias Felipe dos Santos</p>
        <p>Tales Yoshio Kaku Moreira</p>
    </section>
    
</body>
</html>